.m-4
  %ol.breadcrumb.mt-3.breadcrumb-background
    %li.breadcrumb-item= link_to 'Platforms', platforms_path
    %li.breadcrumb-item.active View Platform
    %li.breadcrumb-item= link_to 'Edit Platform', edit_platform_path(@platform)

  .pb-2.mt-4.mb-3.border-bottom
    %h3 View Platform

  .mb-3
    = link_to 'Edit Platform', edit_platform_path(@platform), class: 'btn btn-primary pull-left'


  %p
    %strong Name:
    = @platform.name
  %p
    %strong Client:
    = @platform.client
  %p
    %strong Audience:
    = @platform.audience
  %p
    %strong Public Key:
    = @platform.public_key.html_safe
  %p
    %strong Private Key:
    = @platform.private_key.html_safe
  %p
    %strong Tool Public Key:
    = @platform.tool_public_key.html_safe
  %p
    %strong JWT Url:
    = @platform.jwt_url.html_safe

  %p
    %strong Platform Keys:
    = link_to 'Platform Keys', platform_platform_keys_path(@platform)

  %p
    %strong Courses:
    = link_to 'Courses', platform_contexts_path(@platform)

  %p
    %strong Resource Links:
    = link_to 'Resources', platform_resource_links_path(@platform)