-# frozen_string_literal: true
= simple_form_for [:platform, @platform_key] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :deployment_id
    = f.association :platform

  .form-actions
    = f.button :submit
