%h1 Listing platform_keys

%table
  %thead
    %tr
      %th Name
      %th Deployment
      %th Platform
      %th
      %th
      %th

  %tbody
    - @platform_keys.each do |platform_key|
      %tr
        %td= platform_key.name
        %td= platform_key.deployment_id
        %td= platform_key.platform
        %td= link_to 'Show', platform_platform_key_path(@platform, platform_key)
        %td= link_to 'Edit', edit_platform_platform_key_path(@platform, platform_key)
        %td= link_to 'Destroy', platform_platform_key_path(@platform, platform_key), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Platform key', new_platform_platform_key_path(@platform.id)
