-# frozen_string_literal: true
= simple_form_for [@platform, @resource_link] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :tool_link_url
    = f.input :login_url
    = f.input :role
    = f.association :context, collection: @platform.contexts
    = f.association :platform

  .form-actions
    = f.button :submit
